.no-webp .header {
  width: 100%;
  height: 1310px;
  background: #12033c url("../img/hero.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #12033c url("../img/hero@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.header {
  width: 100%;
  height: 1310px;
  background: #12033c url("../img/hero.webp") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #12033c url("../img/hero@2x.webp") center no-repeat;
    background-size: cover;
  }
}

.header__nav-top {
  border-bottom: 1px solid rgba(235, 235, 235, 0.4);
}

.header__nav-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
}

.header__nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__nav-bottom-link {
  width: 150px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #20afff;
  border-bottom: 2px solid #20afff;

  &:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

.header__logo-link {
  &:hover {
    @include link-opacity;
  }
}
