.hslider {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #0099ef;
  display: flex;
  justify-content: center;
}

.hslider__item {
  padding-left: 250px;
  padding-top: 50px;
  padding-bottom: 85px;
  margin: 45px 20px;

  background: #ffffff;
  box-shadow: 0 0 35px rgba(41, 101, 144, 0.45);
  border-radius: 40px;
}

.hslider__title {
  width: 1196px;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
}

.hslider__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

.hslider__wrap-left {
  display: flex;
  flex-direction: column;

  p {
    width: 756px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
  }
}

.hslider__img {
  width: 756px;
  height: 334px;
}

.hslider__form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    line-height: 15px;
  }

  input {
    width: 310px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 25px;

    background: #ffffff;
    border: 1px solid #eff0f1;
    border-radius: 3px;
  }
}

.hslider__form-btn {
  width: 310px;
  height: 50px;
  margin-top: 15px;

  background: #eefafe;
  border: none;
  border-radius: 3px;

  font-size: 16px;
  line-height: 20px;
  color: #20afff;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #004460;
  }
}

.hslider__form-btn--enter {
  background: #20afff;
  color: #ffffff;

  &:hover {
    color: #004460;
  }
}

.hslider__form-link {
  margin-top: 10px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #004460;

  &:hover {
    @include link-opacity;
  }
}
