// Верхняя навигация
.nav-top {
  // 60px = lang
  // 145px = enter
  width: calc(100% - 60px - 145px);
  margin-left: 50px;

  ul {
    display: flex;
  }

  li {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      font-size: 14px;
      line-height: 17px;
      color: #88819d;

      &:hover {
        @include link-blue;
      }
    }
  }
}

// Нижняя навигация
.nav-bottom {
  // 105px = logo
  // 150px = text
  width: calc(100% - 105px - 150px);
  margin-left: 50px;

  ul {
    display: flex;
  }

  li {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;

      &:hover {
        @include link-blue;
      }
    }
  }
}

.nav-bottom__link-extra {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    color: blanchedalmond;
    bottom: -15px;
    left: 50%;

    border: solid #c7c7c7;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translateX(-50%);
  }
}
