.hslider {
  .slick-prev,
  .slick-next {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 84px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
  }

  .slick-prev {
    background: url("../img/prev.svg") center no-repeat;
    left: 10%;
  }

  .slick-next {
    background: url("../img/next.svg") center no-repeat;
    right: 10%;
  }
}

// Слайдер 5 шагов
.sslider {
  // Фиксированая высота слайда
  .slick-slide {
    min-height: 346px;
  }

  // Отступ для тени
  .slick-list {
    padding-left: 12px;
  }

  // Иконки prev и next
  .slick-prev,
  .slick-next {
    position: absolute;
    font-size: 0;
    width: 50px;
    height: 84px;
    top: -10%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
  }

  .slick-prev {
    background: url("../img/arrow-prev.svg") center no-repeat;
    right: 32%;
  }

  .slick-next {
    background: url("../img/arrow-next.svg") center no-repeat;
    right: 26%;
  }

  // Пагинация
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 43%;
  }

  // Активный слайд
  .slick-current {
    background: #0099ef;

    svg {
      fill: #ffffff;
    }

    h3 {
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }
  }
}

.slick-disabled {
  opacity: 0.5;
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }

  .slick-active {
    button {
      background: #ffffff;
      border: none;
    }
  }
}
