body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Tahoma", "Arial", sans-serif;
  font-style: normal; }

img {
  width: 100%;
  height: auto; }

h1 {
  font-family: "Izhitsa", "Arial", sans-serif; }

h2 {
  font-family: "Izhitsa", "Arial", sans-serif;
  font-size: 28px;
  color: #80392b;
  margin-top: 0; }

h3 {
  font-family: "Izhitsa", "Arial", sans-serif;
  font-size: 22px;
  color: #80392b;
  margin-top: 0; }

h4 {
  font-family: "Izhitsa", "Arial", sans-serif;
  font-size: 18px;
  color: #80392b;
  margin-top: 0; }

a {
  color: #80392b;
  text-decoration: none; }
  a:hover {
    color: #80392b;
    opacity: 0.8;
    text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.title {
  border-left: 5px solid #80392b;
  height: 100px;
  padding-top: 35px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  body {
    font-size: 16px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 20px; } }

@font-face {
  font-family: "Izhitsa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Izhitsa.woff") format("woff");
  src: url("../fonts/Izhitsa.woff2") format("woff2"); }

@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tahoma.woff") format("woff");
  src: url("../fonts/Tahoma.woff2") format("woff2"); }

.header {
  background: url("../img/layer0.jpg") no-repeat center top;
  background-size: 100% 100%;
  padding: 20px 0; }

.header__text {
  margin: 0;
  text-align: center;
  color: #80392b; }

.header__logo {
  width: 80px;
  height: auto; }

.header__cup {
  display: none; }

.header__samovar {
  display: none; }

@media (min-width: 576px) {
  .header__text {
    font-size: 28px;
    text-align: center; } }

@media (min-width: 768px) {
  .header__cup {
    display: block; }
  .header__samovar {
    display: block; }
  .header {
    padding: 30px 0; }
  .header__text {
    font-size: 36px;
    text-align: start; } }

@media (min-width: 992px) {
  .header {
    padding: 40px 0; }
  .header__text {
    font-size: 48px;
    text-align: start; } }

.main-nav {
  display: none; }

@media (min-width: 768px) {
  .main-nav {
    display: block;
    font-family: "Izhitsa", "Arial", sans-serif; }
  .main-list {
    list-style: none;
    padding: 0; }
  .main-nav__item {
    font-size: 24px;
    text-align: center; }
  .main-nav__popup-link {
    color: #80392b; }
    .main-nav__popup-link:hover {
      opacity: 0.5; } }

.product {
  background-image: url("../img/bg2.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center top; }

.product__item {
  padding: 20px; }
  .product__item:hover {
    border-radius: 25px;
    background-color: rgba(243, 235, 221, 0.6); }

.product-text {
  font-size: 18px;
  line-height: 20px;
  text-align: center; }

.product__btn {
  background: #c9383a;
  text-align: center;
  border-radius: 25px;
  padding: 10px; }

.product__price {
  font-size: 18px;
  line-height: 20px;
  color: white;
  border: none;
  background: none; }

@media (min-width: 768px) {
  .product__list div:last-child {
    display: none; } }

@media (min-width: 992px) {
  .product__item {
    padding: 40px; }
  .product__list div:last-child {
    display: block; } }

@media (min-width: 1200px) {
  .product__item {
    padding: 60px; } }

.about {
  background: #f4ecde;
  text-align: justify; }

.about__list {
  padding-left: 15px; }

.production {
  text-align: justify; }

.contact {
  background: #f4ecde; }

.contact__relative {
  position: relative; }

.contact__decoration {
  position: absolute;
  right: 10px;
  top: -34px;
  width: 150px;
  height: auto; }

@media (min-width: 768px) {
  .contact__decoration {
    position: absolute;
    top: -40px;
    width: 170px;
    height: auto; } }
